{
  "presets": [
    [
      "env",
      {
        "include": [
          "transform-async-to-generator"
        ]
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        "syntax-flow",
        "tcomb",
      ]
    }
  },
  "plugins": [
    "transform-flow-strip-types"
  ]
}
